// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  ---------------------------------------------

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .page-header {
        .header.content {
            padding: @indent__base;
            .logo {
                float: none;
                margin: 0;
                max-width: 100%;
            }
            .minicart-wrapper {
                float: none;
                margin: 0;
            }
            .block-search {
                float: none;
                margin: 0;
                padding: 0;

                .control {
                    border-top: none;
                }
            }
        }
    }
    .page-footer {
        .block {
            .block-title {
                line-height: @line-height__base;
                margin-bottom: @indent__base;

                strong {
                    font-family: @font-family__oswald;
                    font-weight: @font-weight__regular;
                    font-size: @font-size__l;
                    text-transform: uppercase;
                }
            }
            .block-content {
                font-size: @font-size__base;

                strong {
                    font-family: @font-family__oswald;
                    font-weight: @font-weight__light;
                }
                li {
                    margin-bottom: @indent__s;
                    line-height: @line-height__l;
                }
                a {
                    color: inherit;
                }
            }
        }
    }
}

//
//  Mobile
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-header {
        .header.content {
            display: grid;
            grid-template-columns: 28px 1fr 35px minmax(35px, auto);
            grid-template-areas: "toggle logo search cart";
            grid-gap: @indent__s;

            .nav-toggle {
                position: relative;
                top: auto;
                left: auto;
                grid-area: toggle;
            }
            .logo {
                grid-area: logo;
            }
            .minicart-wrapper {
                grid-area: cart;
            }
            .block-search {
                grid-area: search;
            }
            .block-search .control {
                margin: 0 -15px 0 -150px;
            }
        }
    }
}

//
//  Desktop
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-header {
        .panel.wrapper {
            border: 0;
            background-color: #f0f0f0;
        }
        .panel.header {
            ul.links {
                li {
                    font-family: @font-family__oswald;
                    font-weight: @font-weight__light;
                    font-size: @font-size__base;
                    text-transform: uppercase;
                }
                a {
                    color: inherit;

                    &:hover {
                        color: @link__color;
                    }
                }
            }
        }
        .header.content {
            display: grid;
            grid-template-columns: minmax(auto, 200px) 1fr minmax(auto, 250px) minmax(35px, auto);
            grid-template-areas: "logo blank search cart";
            grid-gap: @indent__s;

            .nav-toggle {
                display: none;
            }
            .logo {
                grid-area: logo;
            }
            .minicart-wrapper {
                grid-area: cart;
            }
            .block-search {
                grid-area: search;
            }
        }
    }
    .nav-sections {
        a.level-top {
            font-family: @font-family__oswald;
            font-weight: @font-weight__light;
            font-size: @font-size__base;
            text-transform: uppercase;
        }
    }
    .page-footer {
        .footer.content {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 1fr 1fr 1fr 30%;
            grid-template-areas: "account features contact newsletter";
        }
        .block.newsletter {
            grid-area: newsletter;
            width: auto;
        }
        .block.static-account {
            grid-area: account;
        }
        .block.static-features {
            grid-area: features;
        }
        .block.static-contact {
            grid-area: contact;
        }
        .copyright {
            grid-column: ~"1 / -1";
            grid-row: 2;
        }
    }
}
