// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Theme variables
//  _____________________________________________
@primary__color: @color-gray20;
@secondary__color: @color-gray91;

@page__background-color: @color-white;
@header__background-color: false;
@footer__background-color: false;

@text__color: @color-gray20;
@link__color: @color-blue2;

@border-color__base: darken(@page__background-color, 18%);
@border-width__base: 1px;

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;
@font-family__oswald: 'Oswald', @font-family__sans-serif;

//
//  Buttons
//  ---------------------------------------------

//  Default = secondary button
@button__color: @color-white;
@button__background: lighten(@primary__color, 30%);
@button__border: 1px solid darken(@button__background, 15%);

@button__hover__color: darken(@button__color, 75%);
@button__hover__background: lighten(@button__background, 75%);

@button__active__color: @button__hover__color;
@button__active__background: @button__hover__background;

//  Font style
@button__font-weight: @font-weight__regular;

//  Primary button
@button-primary__color: @color-white;
@button-primary__background: darken(@button__background, 20%);
@button-primary__border: 1px solid darken(@button-primary__background, 15%);

@button-primary__hover__color: darken(@button-primary__color, 75%);
@button-primary__hover__background: lighten(@button-primary__background, 75%);
@button-primary__hover__border: 1px solid darken(@button-primary__hover__background, 15%);

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background
